*~
*.[0-9]
*.[0-9][0-9]
*.[0-9][0-9][0-9]
*.la
*.lo
*.log
*.o
*.rec
*.tar.gz
*.tmp
*.vtg
.DS_Store
.deps
Makefile
Makefile.in
autom4te.cache
bb2-public
config.h
config.log
config.status
gitfix
libtool
stamp-h1
tag.pl
