*.[0-9]
*.[0-9][0-9]
*.[0-9][0-9][0-9]
*.la
*.lo
*.o
.DS_Store
.deps
Makefile
Makefile.in
config.h
config.log
config.status
gitfix
libtool
stamp-h1
tag.pl
data/tests/admitfailure
data/tests/*.BAK
data/tests/*.ctl
data/tests/*.log
